<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>CollegeManagementSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>imgPath</param-name>
    <param-value>/C:/Users/AC/attendanceSystem/CollegeManagementSystem/WebContent/images/</param-value>
  </context-param>
  <context-param>
    <param-name>webContentPath</param-name>
    <param-value>C:/Users/AC/attendanceSystem/CollegeManagementSystem/WebContent</param-value>
  </context-param>
  <filter>
    <filter-name>NoChacheFilter</filter-name>
    <filter-class>filter.NoChacheFilter</filter-class>
  </filter>
  <filter>
    <filter-name>SessionValidator</filter-name>
    <filter-class>filter.SessionValidator</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>NoChacheFilter</filter-name>
    <url-pattern>/app/*</url-pattern>
    <url-pattern>/images/*</url-pattern>
  </filter-mapping>
  <resource-ref>
    <description>Oracle Datasource</description>
    <res-ref-name>jdbc/scott</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
</web-app>